html, body {
    /*height: 100%;*/
    background-color: #262626;
}

a{
	text-decoration: none;
	color: #fafafa;
}

a:hover{
	text-decoration: none;
	color: #fafafa;
}

label{
	margin-bottom: 3px;
}

h1 {
	color: #fafafa;
	margin-top: 1rem;
}

hr {
	color: #fafafa;
}

button {
	min-width: fit-content;
}

#quantidade_nao_agrupado{
	width: 100%;
	background-color: #919191;
	border-style: solid;
	border-radius: 7px;
}

#voltar {
	margin-left: 10px;
}

.row {
	margin: 4rem 4rem;
}

.row-3 {
	display: none;
}

.row-4 {
	display: none;
}

.btn-primary {
	border: 0;
	border-radius: 10px;
	margin-top: 10px;
	width: 4rem;
	height: 2.5rem;
	background-color: #111;
}

.container {
    height: 100%;
}

.my-auto{
	display: flex;
	color: #fafafa;
}

.main{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 20px;
	border: 2px solid #919191;
	border-radius: 5px;
	font-size: 25px;
}

.inputs{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 20px;
	border: 2px solid #919191;
	border-radius: 5px;
	font-size: 25px;
}

.border{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
	padding: 20px;
	border: 2px solid #919191;
	border-radius: 5px;
	font-size: 25px;
}

.label{
	display: block;
	font-size: 23px;
	margin-top: 2rem !important;
}

.valores{
	flex-direction: column;
	display: none;
}

.field{
	background-color: #919191;
	border-style: solid;
	border-radius: 7px;
	margin: 5px;
}

.valores-inputs{
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 600px;
	min-width: -webkit-fill-available;
}

.valores-agrupados{
	flex-direction: column;
}

.output{
	min-width: max-content;
}

.tag-label{
	margin-left: 10px;
}